@use '@/styles/_variables.scss' as *;
@use '@/styles/_typography.scss' as type;

.button {
    @extend .button-text;
    background-color: $clr-black;
    color: $clr-white;
    border: none;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    padding: .75rem 1.5rem;
    &:hover {
        background-color: $clr-gray-light;
        color: $clr-black;
    }

    
}

.nav {
    width: 100%;
    z-index: 30;

    

    @media (min-width: $breakpoint-tablet) {
        width: auto;
    }
}

.inverse {
    background-color: $clr-white;
    color: $clr-black;
}