@use '@/styles/_variables.scss' as *;

.hamburger-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: $breakpoint-tablet) {
    .hamburger-menu {
        display: none;
    }
}